@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
    display: flex;
    justify-content: center;
    
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px; /* Adjust font size */
    display: inline-block;
}

.pagination a img {
    width: 20px; /* Adjust the width of the arrow images */
    height: auto; /* Maintain aspect ratio */
}



button , a {
    font-size: 20px; /* Adjust font size */
    padding: 5px 5px;
    margin: 5px;;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa; /* Optional: Add a background color */
    border-bottom: 1px solid #ddd; /* Optional: Add a bottom border */
}

.nav-links a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.nav-links a:hover {
    color: #007bff; /* Optional: Add a hover effect */
}

.logout {
    display: flex;
    align-items: center;
    margin-left: auto; /* Push the logout button to the far right */
}

.logout form {
    display: inline-block; /* Ensure the form stays inline */
    margin: 0;
}

.logout button {
    background-color: #dc3545; /* Red background for the logout button */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.logout button:hover {
    background-color: #c82333; /* Darker red on hover */
}

section {
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    background-color: #f8f9fa; /* Optional: Add a background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
}

h1, h2 {
    font-size: 24px;
    margin-bottom: 20px;
    padding: 10px;
}

ul {
    font-size: 20px;;
}

li {
    margin-bottom: 10px;
    list-style:circle;
}

.new_form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}



img {
    font-size: 10px;
    margin: 10px;
}

div {
    padding: 10px;
}